.al-report .search-field {
  float: none;
  display: flex;
  justify-content: flex-end;
  margin-bottom: 5px;
}
.al-report .al-report--table {
  width: 100%;
  height: 250px;
  overflow: auto;
}
.al-report .al-report--table .table--body-350 {
  min-width: 350px;
  max-width: 350px;
}
.al-report .al-report--table .table--body-100 {
  min-width: 100px;
  max-width: 100px;
}
.al-report .al-report--table-header th {
  text-align: center;
  font-size: 14px;
  line-height: 2;
  background-color: #f9f9f9;
}
.al-report .al-report--table-sub-header th {
  font-size: 14px;
  background-color: #f9f9f9;
}
.al-report .al-report--table .normal-font {
  font-weight: normal;
}
.al-report ::-webkit-scrollbar {
  width: 10px;
}
.al-report ::-webkit-scrollbar-track {
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.al-report ::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: inset006pxrgba(0, 0, 0, 0.5);
}
.al-report ::-webkit-scrollbar-thumb:window-inactive {
  background: rgba(255, 255, 255, 0.4);
}
