.al-form {
  display: block;
  width: 1250px;
  margin: 0 auto;
}
.al-form .black-width {
  width: 20px;
  max-width: 20px;
}
.al-form table {
  width: 100%;
  margin-bottom: 10px;
}
.al-form table tr {
  height: 30px;
  text-align: center;
}
.al-form table td {
  border: 1px solid black;
  word-wrap: break-word;
  word-break: break-all;
}
.al-form table .title-height {
  height: 200px;
}
.al-form table .text-header {
  background-color: #d0d0d0;
  word-break: break-all;
  font-weight: bold;
}
.al-form table .text-footer {
  word-break: break-all;
  font-weight: bold;
}
.al-form table .header-nowrap {
  -webkit-transform: rotate(-90deg);
  -moz-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}
.al-form table .header-width {
  width: 150px;
  max-width: 150px;
}
.al-form table .text__height {
  height: 100px;
}
.al-form table .width-700 {
  width: 700px !important;
}
.al-form table .height-50 {
  height: 50px !important;
}
.al-form table .height-30 {
  height: 30px !important;
}
.al-form table .height-20 {
  height: 20px !important;
}
.al-form table .black-tr {
  height: 10px;
}
.al-form table .text__left {
  text-align: left !important;
  padding-left: 10px;
}
.al-form table .font-bold {
  font-weight: bold;
}
.al-form table .table--title {
  height: 40px;
  font-weight: bold;
  text-align: center;
  background-color: #AFAFAF;
}
.al-form table .table--subtitle-light-gray {
  font-weight: bold;
  height: 35px;
  background-color: #E2E2E2;
}
.al-form table .table--subtitle-middle-gray {
  font-weight: bold;
  height: 35px;
  background-color: #AFAFAF;
}
.al-form table .table--subtitle-dark-gray {
  font-weight: bold;
  height: 35px;
  background-color: #858585;
}
.al-form .report--title {
  text-align: center;
  line-height: 1.2;
}
.al-form .report--title-font {
  font-weight: bold;
  font-size: 24px;
}
.al-form .report--subtitle {
  font-size: 18px;
}
.al-form .report--footer-section {
  padding-left: 20px;
}
.al-form .empty-line {
  border: 0;
  border-right: 1px solid black;
}
.al-form .none-border {
  border: 0;
}
