.stock-movement-header {
  margin-bottom: 10px;
}
.stock-movement-header .product-info {
  font-weight: bold;
}
.stock-movement-header .facility {
  display: inline-block;
  float: right;
}
.stock-movement-header .facility .info {
  margin-right: 100px;
  font-weight: bold;
}
